#{$input-arr1} {
  font-size: 13px;
  height: 30px;
  line-height: 30px;
  border: 1px solid $grey-light2;
  max-width: 100%;
  @include mobile {
    font-size: 12px;
  }
}
#{$input-arr2} {
  padding: 0 6px;
}

#{$input-arr3} {
  position: relative;
  top: 2px;
  margin-right: 2px;
}
select {
  padding-left: 6px;
  padding-bottom: 0;
}

.custom-input {
  margin: 0 -7px;
  label {
    margin: 0 7px;
    font-size: 95%;
  }
}
