.pagination {
  margin-top: 20px;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: .25rem;
  li {
    &:first-child a {
      margin-left: 0;
      border-top-left-radius: .25rem;
      border-bottom-left-radius: .25rem
    }
    &:last-child a {
      border-top-right-radius: .25rem;
      border-bottom-right-radius: .25rem
    }
    &.active a {
      z-index: 1;
      color: $grey-light6;
      background-color: $color2;
      border-color: $color2
    }
    &.disabled a {
      color: #73818f;
      pointer-events: none;
      cursor: auto;
      background-color: $grey-light6;
      border-color: #c8ced3
    }
  }
  a {
    position: relative;
    display: block;
    padding: 7px 12px 6px 11px;
    margin-left: -1px;
    line-height: 1.25;
    color: $color2;
    background-color: $grey-light6;
    border: 1px solid #c8ced3;
    &:hover {
      z-index: 2;
      color: #167495;
      text-decoration: none;
      background-color: #e4e7ea;
      border-color: #c8ced3;
    }
    &:focus {
      z-index: 2;
      outline: 0;
      box-shadow: 0 0 0 .2rem rgba(32, 168, 216, .25);
    }
    &:not(:disabled):not(.disabled) {
      cursor: pointer
    }
  }
}