$calenderColor1: #005aff;
$calenderColor2: #ff1200;
$calenderColor3: #9e9e9e;
$calenderColor4: #444;
$calenderColor5: #030303;

.data-picker {
  input {
    width: 48.6%;
    max-width: 150px;
    background: url('/asset/images/ui/icon_calender.png') 100% 50% no-repeat;
  }
}

.datepicker {
  margin-top: -1px;
  position: relative;
  display: block;
  font-weight: 300;
  font-size: rem(33);
}

.datepicker_header {
  position: relative;
  text-align: center;
  margin-bottom: rem(35);
  > span {
    display: inline-block;
    position: relative;
    font-weight: 700;
  }
  > a {
    color: $grey-light6;
    font-family: $font2;
    font-weight: 700;
    cursor: pointer;
    width: rem(33);
    height: rem(33);
    font-size: 0;
    background: url('../../../asset/images/arrow/calender.png') 50% no-repeat;
    background-size: contain;
    &.before-month, &.next-month{
      position: absolute;
      top: 50%;
      margin-top: rem(-33/2);
    }
    &.before-month{
      left: rem(10);
      @include transform(rotate(180deg))
    }
    &.next-month{
      right: rem(10);
    }
  }
}

.datepicker_inner_container {
  position: relative;
  overflow: hidden;
  &:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}
.datepicker_calendar {
  table {
    padding: 10px;
    width: 100%;
    table-layout: fixed;
  }
  th, td {
    padding: rem(10) 0;
    text-align:center;
    span {
      display: inline-block;
      width: rem(70);
      height: rem(70);
      line-height: rem(70);
      color: $calenderColor5;
      border: 1px solid $calenderColor4;
      border-radius: 100%;
    }
    &.wday_sat {color: $calenderColor1;}
    &.wday_sun {color: $calenderColor2;}
    &.day_another_month,
    &.day_in_past,
    &.day_in_unallowed,
    &.out_of_range {cursor: default; color: $calenderColor3;
      span {
        border-color: $calenderColor3;
        opacity: 0.5;
      }
    }
    &.today {}
  }
  tbody:first-child {
    th, td {
      padding: 0 0 rem(15);
      font-size: rem(31);
      color: $calenderColor3;
    }
  }
  .active {
    span {
      background-color: $spot1BrandColor;
      font-weight: 700;
    }
  }
}
