@charset "UTF-8";

.custom-table {
  text-align: center;
  box-shadow:  0 0 5px $oColor3;
  border-radius: rem(20);
  margin-bottom: rem(45);
  overflow: hidden;
  input {
    height: inherit;
    line-height: inherit;
    padding: 0;
    border: none;
    border-radius: 0;
    width: 100%;
    text-align: center;
  }
  p {
    display: table-cell;
    padding: rem(18) rem(20) rem(16);
    & + p {
      border-left: 1px solid $grey-light2;
    }
  }
  dl, dt, dd {
    border-top: 1px solid $grey-light2;
    &:first-child, &.btn-groups {
      border-top: none;
    }
  }
  dt, dd {
    display: table;
    width: 100.1%;
    table-layout: fixed;
    font-weight: 600;
  }
  dt {
    background: $grey-light4;
  }
  .btn {
    width: 100%;
    padding: rem(20) rem(20) rem(18);
    font-weight: 700;
    color: $grey-light6;
    background: $baseColor1;
    border: none;
    position: relative;
    bottom: rem(-1);
    .fas {
      position: relative;
      top: 1px;
    }
  }
}
