@charset "UTF-8";

#wrap {
  &.login {
    width: 77.85%;
    height: 100%;
    display: table;
    margin: 0 auto;
    overflow-y: auto;

    h1 {
      width: rem(236);
      height: rem(244);
    }

    main {
      display: table-cell;
      vertical-align: middle;
      padding: rem(120) 0;
    }
  }
}

.login-form {
  margin-top: rem(140);

  input {
    width: 100%;
    border-color: $oColor4;
    background: $grey-light2;
  }

  li {
    & + li {
      margin-top: rem(30);
    }
  }

  .custom-select {
    dl {
      position: relative;
    }

    dt {
      color: $baseColor1;
      height: rem(96);
      line-height: rem(96);
      border-radius: rem(48);
      font-weight: 600;

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: -1px;
        margin-top: rem(-48);
        width: rem(96);
        height: rem(96);
        background: $baseColor1 url('../../../asset/images/arrow/select.png') no-repeat;
        background-size: contain;
        border-radius: 100%;
      }
    }

    dd {
      display: none;
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;

      p {
        color: $baseColor1;
        font-weight: 800;
        height: rem(96);
        line-height: rem(98);
        border-radius: rem(48);
        padding: 0 0 0 rem(48);
        background: $spot1BrandColor;
        @include spotCustomSelect;
        &.selected {
          display: none;
        }
      }
    }

    &.is-open dd {
      display: block;
    }
  }

  .btn-groups {
    margin-top: rem(160);

    .btn {
      border: none;
      background: $baseColor1;
      color: $grey-light6;
      font-size: rem(42);
      font-weight: 700;
      width: rem(214);
      height: rem(214);
      line-height: rem(214);
      border-radius: 100%;
    }
  }


}

.signup-form {
  padding: 0 rem(56) rem(200);

  .custom-table {
    p {
      &:nth-of-type(1) {
        width: 40%
      }
    }
  }

  .btn-groups {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    padding: rem(25) rem(56) 0;
    background: $grey-light6;

    p {
      margin: rem(20) 0;
      font-size: rem(27);
      color: $grey-dark1;
    }

    .btn {
      border: none;
      font-size: rem(42);
      font-weight: 700;
      width: 100%;
      height: rem(96);
      line-height: rem(100);
      border-radius: rem(50);
    }
  }
}

.agree-field-list {
  margin-top: rem(80);
  dd {
    margin-top: rem(15);
  }
  dt {
    span {
      font-weight: 800;
    }
  }
}
