@include keyframes(pageEnter){
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@include keyframes(loadingR) {
  0% {@include transform(rotate(0deg));}
  100% {@include transform(rotate(360deg));}
}

@include keyframes(loading){
  0%  {opacity: 0;}
  20% {opacity: 1;}
  50% {opacity: 1;}
  100%{opacity: 0;}
}

@include keyframes(searching) {
  0% {width: 0;}
  100% {width: 100%;}
}
